<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common-head (pageTitle)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title th:text="${pageTitle}">Default Title</title>

    <!-- Compiled and minified CSS -->
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="/js/util.js"></script>
</head>
</head>
<body th:fragment="body" class="bg-sky-100">
	<div id="app"
		class="h-screen w-full grid grid-cols-12 gap-4 p-4 w-full">
		<div
			class="col-span-2 bg-blue-400 p-4 rounded-md shadow-md flex flex-col text-white">
			<!-- Profile Section -->
			<div class="flex flex-col items-center">
				<svg xmlns="http://www.w3.org/2000/svg" height="75px"
					viewBox="0 -960 960 960" width="75px" fill="#FFFFFF">
					<path
						d="M480-440q-59 0-99.5-40.5T340-580q0-59 40.5-99.5T480-720q59 0 99.5 40.5T620-580q0 59-40.5 99.5T480-440Zm0-80q26 0 43-17t17-43q0-26-17-43t-43-17q-26 0-43 17t-17 43q0 26 17 43t43 17Zm0 440q-139-35-229.5-159.5T160-516v-244l320-120 320 120v244q0 152-90.5 276.5T480-80Zm0-400Zm0-315-240 90v189q0 54 15 105t41 96q42-21 88-33t96-12q50 0 96 12t88 33q26-45 41-96t15-105v-189l-240-90Zm0 515q-36 0-70 8t-65 22q29 30 63 52t72 34q38-12 72-34t63-52q-31-14-65-22t-70-8Z" /></svg>
				<h2 class="mt-2 text-lg font-semibold">Xin chào, Admin</h2>
			</div>

			<!-- Navigation Links -->
			<nav class="mt-8">
				<ul class="space-y-3">
					<li><a href="/admin/user"
						class="block p-3 rounded-lg hover:bg-blue-600 hover:-translate-y-2 hover:font-semibold">Quản
							lý người dùng</a></li>
					<li><a href="#"
						class="block p-3 rounded-lg hover:bg-blue-600 hover:-translate-y-2 hover:font-semibold">Quản
							lý xe Bus</a></li>
					<li><a href="#"
						class="block p-3 rounded-lg hover:bg-blue-600 hover:-translate-y-2 hover:font-semibold">Quản
							lý tuyến đường</a></li>
					<li><a href="#"
						class="block p-3 rounded-lg hover:bg-blue-600 hover:-translate-y-2 hover:font-semibold">Quản
							lý tài xế</a></li>
					<li><a href="#"
						class="block p-3 rounded-lg hover:bg-blue-600 hover:-translate-y-2 hover:font-semibold">Quản
							lý lịch trình</a></li>
					<li><a href="#"
						class="block p-3 rounded-lg hover:bg-blue-600 hover:-translate-y-2 hover:font-semibold">Quản
							lý vé đặt xe</a></li>
				</ul>
			</nav>

			<!-- Logout Button -->
			<button
				class="w-full mt-8 p-3 bg-red-400 rounded-lg mt-auto cursor-pointer font-bold">Đăng
				xuất</button>
		</div>

		<!-- Second Column (8/12) -->
		<div class="col-span-10 bg-blue-100 shadow-md rounded-md p-4">
			<div th:fragment="content">
				<div th:replace="~{::child-content}">
					<p>Default Content</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
