<!-- admin-user.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="bus-manager-template :: common-head('Quản lý tài xế')"></head>
  <body th:replace="bus-manager-template :: body">
    <div th:replace="admin-template :: content">
      <div th:fragment="child-content">
        <h1 class="text-xl font-bold text-center mt-4">Cập nhật thông tin tài xế</h1>
        <div class="mx-auto mt-4 w-xl space-y-4">
          <!-- Tên đăng nhập -->
          <div class="flex flex-col space-y-2">
            <label for="username" class="text-blue-500 font-medium"
              >Mã người dùng</label
            >
             <input
             	v-model="formData.user_id"
                class="border border-blue-500 focus:ring-2 focus:ring-blue-400 focus:border-blue-700 rounded-md p-2 pr-10 outline-none w-full"
              />
          </div>
          <div class="flex flex-col space-y-2">
            <label for="username" class="text-blue-500 font-medium"
              >Số bằng lái</label
            >
            <input
            	v-model="formData.license_number"
                class="border border-blue-500 focus:ring-2 focus:ring-blue-400 focus:border-blue-700 rounded-md p-2 pr-10 outline-none w-full"
              />
          </div>
          <!-- Mật khẩu có nút ẩn/hiện -->
          <div class="flex flex-col space-y-2">
            <label for="password" class="text-blue-500 font-medium"
              >Trạng thái</label
            >
            <select
              v-model="formData.status"
              type="text"
              id="username"
              name="username"
              class="border border-blue-500 focus:ring-2 focus:ring-blue-400 focus:border-blue-700 rounded-md p-2 outline-none w-full"
            >
              <option
              	value="Active"
              >
               	Đang hoạt động
              </option>
              <option
              	value="Inactive"
              >
               	Tạm nghỉ
              </option>
            </select>
          </div>

          <p v-if="errorMessage" class="mt-4 text-red-500 text-center">
            {{ errorMessage }}
          </p>

          <!-- Nút Đăng Nhập -->
          <div class="flex justify-center">
            <button
              class="w-full cursor-pointer mt-2 bg-blue-600 text-white p-2 rounded-md hover:bg-blue-700 transition"
              :class="{
						'bg-gray-500 black-text cursor-none': loading
					}"
              @click="createHandle"
            >
              Lưu
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    const { createApp, ref, reactive, computed } = Vue;
    const entity = 'driver';
    const service = 'drivers';
    createApp({
      setup() {
        const dataService = new ApiService(service);
        const formData = reactive({
        	user_id: '',
            license_number: '',
            status: '',
        });
        const errorMessage = ref("");
        const loading = ref(false);
        const validateForm = () => {
          errorMessage.value = "";
          if (!formData.user_id.trim()) {
            errorMessage.value = "Mã người dùng không được để trống.";
            return false;
          }

          if (!formData.license_number.trim()) {
            errorMessage.value = "Số bằng lái không được để trống.";
            return false;
          }
		
          if (!formData.status) {
              errorMessage.value = "Trạng thái không được để trống.";
              return false;
          }

          errorMessage.value = ""; // Clear error if validation passes
          return true;
        };
        const createHandle = async () => {
          if (!validateForm()) return;
          loading.value = true;
          const id = getParam();
          try {
            await dataService.update(id, formData);
            alert("Lưu thành công.");
            window.location.href = "/bus-manager/" + entity;
          } catch (error) {
            errorMessage.value = error.message;
          }
          loading.value = false;
        };
        const getDataInfo = async () => {
            const id = getParam();
            console.log("id: ", id);
            const res = await dataService.getDetail(id);
            console.log(res);
            formData.user_id = res.user.id;
            formData.license_number = res.licenseNumber;
            formData.status = res.status;
        };
        getDataInfo();
        return {
          formData,
          createHandle,
          errorMessage,
          loading
        };
      },
    }).mount("#app");
  </script>
  <script th:replace="bus-manager-template :: initscript"></script>
</html>
