<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Booking trip</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
</head>
<body class="bg-sky-100">
	<div class="grid place-items-center h-screen">
		<div class="grid grid-cols-4 gap-4 p-4 rounded-lg bg-white shadow-lg">
			<div class="text-3xl flex flex-col justify-between">
				<div>
					<div class="font-lg">Đặt xe</div>
					<div>
						<strong class="text-blue-500 font-bold">dễ dàng</strong> hơn
					</div>
					<div>với</div>
					<div class="text-4xl font-bold mt-2">Booking Trip</div>
				</div>
				<button class="bg-blue-500 text-white rounded-lg cursor-pointer py-2" onclick="window.location.href='sign-in'">
					Bắt đầu
				</button>
			</div>
			<div class="col-span-3">
				<img src="/image/booking-trip-landing-page.jpg" class="rounded-md w-full" />
			</div>
		</div>
	</div>
</body>
</html>
