<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Booking trip</title>

<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
</head>
<body class="bg-sky-100">
	<div class="grid place-items-center h-screen">
		<div class="grid grid-cols-4 gap-4 p-4 rounded-lg bg-white shadow-lg">
			<div class="text-3xl flex flex-col justify-between">
				<div>
				<div class="font-lg">Đặt xe</div>
				<div><strong>dễ dàng</strong> hơn</div>
				<div>với Booking-trip</div>
				</div>
				<button class="blue white-text rounded-lg cursor-pointer py-2">Bắt đầu</button>
			</div>
			<div class="col-span-3">
				<img src="/image/booking-trip-landing-page.jpg" class="rounded-md" />
			</div>
		</div>
	</div>
</body>
</html>
