<!-- admin-user.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="user-template :: common-head('Tài khoản')"></head>
<body th:replace="user-template :: body">
	<div th:replace="user-template :: content">
		<div th:fragment="child-content">
			<h1 class="text-xl font-bold text-center mt-4">Thông
				tin người dùng</h1>
			<div class="mx-auto mt-4 w-xl space-y-4">
				<div class="flex flex-col space-y-2">
					<label for="username" class="text-blue-500 font-medium">Tên</label>
					<input v-model="formData.name" type="text" id="username"
						name="username"
						class="border border-blue-500 focus:ring-2 focus:ring-blue-400 focus:border-blue-700 rounded-md p-2 outline-none">
				</div>
				<!-- Tên đăng nhập -->
				<div class="flex flex-col space-y-2">
					<label for="username" class="text-blue-500 font-medium">Email</label>
					<input v-model="formData.email" type="email" id="username"
						name="username"
						class="border border-blue-500 focus:ring-2 focus:ring-blue-400 focus:border-blue-700 rounded-md p-2 outline-none">
				</div>
				<div class="flex flex-col space-y-2">
					<label for="username" class="text-blue-500 font-medium">Điện
						thoại</label> <input v-model="formData.phone" type="text" id="username"
						name="username"
						class="border border-blue-500 focus:ring-2 focus:ring-blue-400 focus:border-blue-700 rounded-md p-2 outline-none">
				</div>

				<p v-if="errorMessage" class="mt-4 text-red-500 text-center">{{
					errorMessage }}</p>

				<!-- Nút Đăng Nhập -->
				<div class="flex justify-center">
					<button
						class="w-full cursor-pointer mt-2 bg-blue-600 text-white p-2 rounded-md hover:bg-blue-700 transition"
						:class="{
						'bg-gray-500 black-text cursor-none': loading
					}"
						@click="signUpHandle">Cập nhật</button>
				</div>
			</div>
		</div>
	</div>
</body>
<script>
const { createApp, ref, reactive, computed } = Vue
createApp({
	setup(){
		const userService = new ApiService("users")
		const showPassword = ref(true)
	      const showConfirmPassword = ref(true)
	      const formData = reactive({
	    	  name: '',
	    	  email: '',
	    	  phone: '',
	    	  password: '',
	    	  role: ''
	      })
	      const errorMessage = ref("");
	      const loading = ref(false)
	      const validateForm = () => {
	    	  errorMessage.value = "";
	    	  if (!formData.name) {
	    	    errorMessage.value = "Tên không được để trống";
	    	    return false;
	    	  }

	    	  if (!formData.email || !formData.phone) {
	    	    errorMessage.value = "Vui lòng nhập email và số điện thoại";
	    	    return false;
	    	  }

	    	  if (
	    	    formData.email &&
	    	    !/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(formData.email)
	    	  ) {
	    	    errorMessage.value = "Email không hợp lệ";
	    	    return false;
	    	  }

	    	  if (formData.phone && !/^0[0-9]{9,10}$/.test(formData.phone)) {
	    	    errorMessage.value = "Số điện thoại không hợp lệ";
	    	    return false;
	    	  }

	    	  if (formData.password.length < 6) {
	    	    errorMessage.value = "Mật khẩu phải có ít nhất 6 ký tự";
	    	    return false;
	    	  }

	    	  if (!formData.role) {
	    	    errorMessage.value = "Vui lòng chọn vai trò";
	    	    return false;
	    	  }

	    	  errorMessage.value = ""; // No error, valid form
	    	  return true;
	    	};
	      const signUpHandle = async () => {
	    	  if(!validateForm()) return;
	    	  const user = getUserInfo()
	    	  loading.value = true
	    	  try {
	    		    await userService.update(user.id, formData)
	    		    alert("Cập nhật thành công.")
	    		  } catch (error) {
	    		    errorMessage.value = error.message;
	    		  }
	    	loading.value = false
	      }
	      const getDetail = async () => {
	    	  const user = getUserInfo()
	    	  const res = await userService.getDetail(user.id)
	    	  console.log(res)
	    	  formData.name = res.name
	    	  formData.email = res.email
	    	  formData.phone = res.phone
	    	  formData.password = res.password
	    	  formData.role = res.role
	      }
	      getDetail()
	      return {
	        showPassword,
	        showConfirmPassword,
	        formData,
	        signUpHandle,
	        errorMessage,
	        loading
	      }
	}
}).mount('#app')
</script>
</html>